.img {
    background-image: url(../../../../assets/images/home-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: "100%";
    height: 48vh;
    max-height: 650px;
  }

  .mw-500{
    max-width: 500px;
  }