<div class="container-fluid">
  <!-- header -->
  <!-- icon -->
  <div class="text-center">
    <span>
      <i
        class="bi bi-check-circle-fill text-success text-center"
        style="font-size: 60px"
      ></i>
    </span>
  </div>
  <div
    class="fw-bold text-start d-flex justify-content-center pt-2 pb-2 ps-3 pe-3 align-items-center"
  >
    <span class="fs-3">{{ title }}</span>
  </div>

  <!-- content -->
  <mat-dialog-content class="mat-typography pb-0 ps-2 pe-2 mt-1">
    <p class="text-dark text-center pb-3">
      {{ message }}
    </p>

    <!-- output code -->
    <mat-form-field appearance="outline" class="p-0 w-100">
      <mat-label>Code de reservation</mat-label>
      <input
        matInput
        placeholder="Code"
        [(ngModel)]="reservation.code"
        [readonly]="true"
      />
      <button mat-icon-button matSuffix (click)="copyToClipboard()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>
  </mat-dialog-content>

  <!-- button -->
  <mat-dialog-actions align="center" class="">
    <!-- <button class="danger-button" mat-button [mat-dialog-close]="true">
      Confirmer
    </button> -->
    <button
      class="w-100 text-success border-success mb-3"
      mat-stroked-button
      [mat-dialog-close]="false"
    >
      Ok
    </button>
  </mat-dialog-actions>
</div>

<!-- ticker -->
<div class="d-none">
  <div id="ticket-ID" class="p-4 bg-dark text-light">
    <h3>Hello</h3>
    <i class="bi bi-list"></i>
    <qrcode
      [qrdata]="'ABC'"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
  </div>
</div>
