<!-- ======= Footer ======= -->
<footer id="footer">
  <!-- =========== badge =========== -->
  <div class="pt-3 pb-3 container d-md-flex justify-content-center text-center">
    <!-- <div class="row"> -->
    <app-badge
      class="mb-2 me-2"
      label="Réservez en toute confiance !"
      icon="security"
    ></app-badge>
    <app-badge
      class="mb-2"
      label="Réserver à tout moment"
      icon="schedule"
    ></app-badge>
    <app-badge
      class="ms-2 mb-2"
      label="Réservez avec garantie"
      icon="task_alt"
    ></app-badge>
    <!-- </div> -->
  </div>
  <!-- end footer -->

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>CamerExpress<span>.</span></h3>
          <p>
            Ngoa ékélé, Université ed Yaoundé 1 <br />
            Yaoundé, <br />
            Cameroun <br /><br />
            <strong>Phone:</strong> +1 5589 55488 55<br />
            <strong>Email:</strong> camerexpress@gmail.com<br />
          </p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-9 row">
          <!-- Navigation section -->
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Navigation</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Accueil</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Nos trajets</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">A propos</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Aide</a>
              </li>
            </ul>
          </div>
          <!-- Informations -->
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Informations</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Agences diponibles</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Villes supportées</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Mention légales</a>
              </li>
            </ul>
          </div>
          <!-- Réservation -->
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Réservation</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Gérer ma réservation</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">FAQ</a>
              </li>
            </ul>
          </div>
          <!-- Télécharger l'application -->
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Télécharger l'application</h4>
            <p>Et profitez d'une gestion plus rapprochées</p>

            <div class="">
              <!-- Qr code -->
              <div class="me-2">
                <img
                  class="img-fluid"
                  src="../../../../assets/images/QR_Code.svg"
                  alt=""
                  srcset=""
                />
              </div>

              <!-- buttons -->
              <div class="mt-3">
                <div class="mb-2">
                  <a href="#" target="_blank" class="btn btn-primary w-100"
                    >Play Store <i class="bi bi-google-play"></i
                  ></a>
                </div>
                <div class="">
                  <a href="#" class="btn btn-dark w-100"
                    >Apple Store <i class="bi bi-apple"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="copyright">
      &copy; {{ currentYear }} Copyright
      <strong><span>CamerExpress</span></strong
      >.
    </div>
  </div>
</footer>
<!-- End Footer -->
