<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center fixed-top ">
  <div class="container d-flex align-items-center justify-content-between">
    <!-- <a href="#" class="logo"
      ><img src="../../../../assets/images/adaptive-icon.png" alt=""
    /></a> -->
    <!-- <h1 class="logo">
      <a href="index.html">CamerExpress<span>.</span></a>
    </h1> -->
    <div class="d-flex align-items-center">
      <!-- Logo -->
      <a href="#" class="logo me-2">
        <img src="../../../../assets/images/adaptive-icon.png" alt="" />
      </a>

      <!-- Title -->
      <span class="fw-bold fs-4">CamerExpress</span>
    </div>

    <div id="navbar" class="navbar shadow-none">
      <ul class=" ">
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active"
            class="nav-link"
            href="#"
            >Accueil</a
          >
        </li>
        <li><a class="nav-link" href="#">A propos</a></li>
        <li><a class="nav-link" href="#">Nos trajets</a></li>
        <li><a class="nav-link" href="#">Aide</a></li>
        <li><a class="nav-link" href="#">Mentions légales</a></li>
      </ul>
      <i class="bi mobile-nav-toggle bi-x d-none" (click)="toggle_menu()"></i>
    </div>
    <button
      class="mobile-nav-toggle"
      type="button"
      mat-icon-button
      (click)="toggle_menu()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->