<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <!-- <a href="#" class="logo"
      ><img src="../../../../assets/images/adaptive-icon.png" alt=""
    /></a> -->
    <!-- <h1 class="logo">
      <a href="index.html">CamerExpress<span>.</span></a>
    </h1> -->
    <div class="d-flex align-items-center">
      <!-- Logo -->
      <a href="#" class="logo me-2">
        <img src="../../../../assets/images/adaptive-icon.png" alt="" />
      </a>

      <!-- Title -->
      <span class="fw-bold fs-4">CamerExpress</span>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#">Accueil</a></li>
        <li><a class="nav-link scrollto" href="#">A propos</a></li>
        <li><a class="nav-link scrollto" href="#">Nos trajets</a></li>
        <li><a class="nav-link scrollto" href="#">Aide</a></li>
        <li class="dropdown">
          <a href="#"
            ><span>Mentions légales </span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="#">Politique de confidentialité</a></li>
            <li><a href="#">Condition générale d'utilisation</a></li>
          </ul>
        </li>
      </ul>
      <button mat-button class="bi bi-list mobile-nav-toggle"></button>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
