<app-navbar></app-navbar>

<body>
    <div class="img">
    </div>

    <div class="res">
        <div>
            <span class="fw-bold  me-6 ">Voyage en bus pas cheres et en securite avec nous</span>
        </div>
        <div class="row">
            <!-- de -->
            <mat-form-field appearance="outline" class="col-md-2">
                <mat-label>De</mat-label>
                <input matInput placeholder="Ville de depart">
                <mat-icon matSuffix>expand_more</mat-icon>
            </mat-form-field>

            <!-- A -->
            <mat-form-field appearance="outline" class="col-md-2">
                <mat-label>A</mat-label>
                <input matInput placeholder="Ville d'arrivee">
                <mat-icon matSuffix>expand_more</mat-icon>
            </mat-form-field>

            <!-- Date depart -->
            <mat-form-field appearance="outline" class="col-md-2">
                <mat-label>Date depart</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>calendar_month</mat-icon>
            </mat-form-field>

            <!-- Agence -->
            <mat-form-field appearance="outline" class="col-md-2">
                <mat-label>Agence</mat-label>
                <input matInput placeholder="Nom Agence">
                <mat-icon matSuffix>expand_more</mat-icon>
            </mat-form-field>

            <!-- bouton -->
            <button class="col-md-4 " mat-flat-button color="primary">Rechercher</button>
        </div>
        <div class="row-2">
            <!-- Gerer ma reservation -->
            <button mat-stroked-button class="col-md-2 bb"> <mat-icon matPrefix>settings</mat-icon> Gerer ma
                reservation</button>

            <!-- Recherche approfondie-->
            <button mat-stroked-button class="col-md-2 bb"> <mat-icon matPrefix>route</mat-icon> Recherche
                approfondie</button>

            <!-- Aide -->
            <button mat-stroked-button class="col-md-2 bb"> <mat-icon matPrefix>info</mat-icon> Aide</button>

        </div>
        <mat-divider></mat-divider>
        <div class="d-flex  align-content-center ">
            <!-- securite -->
            <div>
                <mat-icon class="">privacy_tip</mat-icon>
                <div> Confidentialite et securite</div>
                <p>Vos donnees et coordonnees sont chiffrees de 
                    bout en bout et utilisees dans les regles de
                    confidentialite etablies
                </p>
                <button mat-stroked-button> Voir la section</button>

            </div>

            <!-- Telecharger -->
            <div>
                <mat-icon class="">phone_iphone</mat-icon>
                <div> Telecharger l'app CamerExpress</div>
                <p>Decouvrir les aspects et multiples services
                    accessible exclusivement de puis le plateforme mobile
                </p>
                <button mat-stroked-button> Voir la section</button>

            </div>

            <!-- info -->
            <div>

                <mat-icon class="">schedule</mat-icon>
                <div> Info en temps reel</div>
                <p>Les informations sur les trajetts disponibles et les 
                    destinations supportees par la plateforme
                </p>
                <button mat-stroked-button>  Voir la section</button>

            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="d-flex  align-content-center ">
          <!-- carte -->

        <div class="img2">
        <img src="../../../../assets/images/image copy.png" alt="" srcset="">
            </div>

          <!-- texte-->

            <div>
             
                <span class="fw-bold "> DECOUVREZ NOS AGENCES ET LEURS SITES</span>

                <p>choisissez parmi plus de 30 destinations dans plus de 10 villes</p>

                <button mat-stroked-button> EXPLORER</button>


            </div>
        </div>
    </div>
</body>