.img{
  background-image: url(../../../../assets/images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height:650px;
}

.res.span{
  color: aqua;
  size: 30px;
}

.bb{
  height: 80px !important;
}

.img2{
  
  background-repeat: no-repeat;
size: cover;
  height:100px z;
}