<!-- Header -->
<div
  class="fw-bold text-start d-flex pt-2 pb-2 ps-3 pe-3 justify-content-between align-items-center"
>
  <span class="me-4" [hidden]="mode == 'edit' || mode == 'show'"
    >Ajouter une destination</span
  >
  <span class="me-4" [hidden]="mode == 'add' || mode == 'show'"
    >Changer la destination</span
  >

  <button mat-button [mat-dialog-close]="false" class="text-center">
    <mat-icon class="me-0">close</mat-icon>
  </button>
</div>

<!-- Content -->
<mat-dialog-content class="mat-typography pb-1 p-3">
  <div class="row">
    <!-- Ville depart -->
    <div class="col-md-12">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Ville de depart</mat-label>
        <input
          matInput
          ngModel
          [(ngModel)]="villeDepart.nom"
          [readonly]="true"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <!-- prix classique -->
    <div class="col-md-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Prix classique</mat-label>
        <input
          matInput
          ngModel
          placeholder="3500 XAF minimum"
          type="number"
          inputmode="numeric"
          [formControl]="prixClassiqueFormControl"
          [(ngModel)]="otherData.prixClassique"
        />
      </mat-form-field>
    </div>

    <!-- prix vip -->
    <div class="col-md-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Prix vip</mat-label>
        <input
          matInput
          ngModel
          placeholder="3500 XAF minimum"
          inputmode="numeric"
          type="number"
          [formControl]="prixVipFormControl"
          [(ngModel)]="otherData.prixVip"
        />
      </mat-form-field>
    </div>
  </div>

  <!-- duree -->
  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Durée (estimation en heure)</mat-label>
        <input
          matInput
          ngModel
          type="number"
          placeholder="1h minimum"
          [(ngModel)]="otherData.duree"
          [formControl]="dureeFormControl"
          inputmode="numeric"
        />
      </mat-form-field>
    </div>
  </div>

  <!-- Ville destination -->
  <div class="col-md-12">
    <mat-form-field class="w-100 rounded small" appearance="outline">
      <mat-label>Selectionner une ville</mat-label>
      <mat-select
        [value]="villeDestination.id"
        [(ngModel)]="villeDestination.id"
        [formControl]="villeDestinationFormControl"
        [errorStateMatcher]="matcher"
      >
        <mat-option *ngFor="let ville of villes" value="{{ ville.id }}">{{
          ville.nom
        }}</mat-option>
      </mat-select>

      <!-- Champs obligatoire -->
      <mat-error
        *ngIf="villeDestinationFormControl.hasError('required')"
        class="text-danger small mt-1"
        >Ce champs est obligatoire</mat-error
      >
    </mat-form-field>
  </div>

  <span *ngIf="destinationEqualDepart" class="text-danger small mb-1">
    La destination doit être differente de {{ villeDepart.nom }}
  </span>
</mat-dialog-content>

<!-- Button action -->
<mat-dialog-actions align="end" class="p-3 pt-1">
  <button
    class="primary-light-button"
    mat-button
    [hidden]="mode == 'show'"
    (click)="valid()"
  >
    Enregistrer
  </button>

  <button class="primary-dark-button" mat-button [mat-dialog-close]="false">
    Annuler
  </button>
</mat-dialog-actions>
