<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center fixed-top">
  <div class="container d-flex align-items-center">
    <div class="d-flex align-items-center">
      <!-- Logo -->
      <a href="#" class="logo me-2">
        <img src="../../../../assets/images/adaptive-icon.png" alt="" />
      </a>

      <!-- Title -->
      <span class="fw-bold fs-4">CamerExpress</span>
    </div>
  </div>
</header>
<!-- End Header -->

<!-- ===== CONTENT ===== -->
<main id="main" class="pt-4 pb-4 bg-light">
  <div class="container">
    <div class="row">
      <!-- back button -->
      <div class="mb-2 col-12">
        <button mat-button (click)="go_to_voyage_list()">
          <mat-icon>arrow_back</mat-icon> Retour
        </button>
      </div>

      <!-- form -->
      <div class="col-md-8">
        <!-- Passagers section -->
        <div class="mb-3">
          <app-form-section class="mb-3" number="1" title="Passagers">
            <!-- passagers adultes -->
            <div
              *ngFor="
                let i of [].constructor(_reservationService.passagers_adultes);
                let index = index
              "
            >
              <!-- passagers type -->
              <span class="text-secondary small fw-semibold"
                >{{ index + 1 }}. Adulte</span
              >

              <!-- passagers field -->
              <mat-form-field appearance="outline" class="p-0 w-100 mt-2">
                <!-- <mat-label>Nom et prénom</mat-label> -->
                <input
                  matInput
                  placeholder="Nom et prénom"
                  [errorStateMatcher]="matcher"
                  [formControl]="passager_adulte_formsControls[index]"
                  [(ngModel)]="
                    _reservationService.passagers_adultes_array[index]
                  "
                />
              </mat-form-field>
            </div>

            <!-- passagers enfants -->
            <div
              *ngFor="
                let i of [].constructor(_reservationService.passagers_enfant);
                let index = index
              "
            >
              <!-- passagers type -->
              <span class="text-secondary small fw-semibold"
                >{{ index + 1 }}. Enfant</span
              >

              <!-- passagers field -->
              <mat-form-field appearance="outline" class="p-0 w-100 mt-2">
                <!-- <mat-label>Nom et prénom</mat-label> -->
                <input
                  matInput
                  placeholder="Nom et prénom"
                  [errorStateMatcher]="matcher"
                  [formControl]="passager_enfant_formsControls[index]"
                  [(ngModel)]="
                    _reservationService.passagers_enfant_array[index]
                  "
                />
              </mat-form-field>
            </div>
          </app-form-section>
        </div>

        <!-- Réservation du siège section -->
        <div class="mb-3">
          <app-form-section
            class="mb-3"
            number="2"
            title="Réservation du siège"
          >
            <button
              mat-button
              class="border-1 border-dark-subtle rounded-2 border-start border-end border-top border-bottom mb-3 w-100"
            >
              <!-- choose button -->
              <div class="d-flex align-items-center">
                <!-- icon -->
                <mat-icon class="me-3">accessible_forward</mat-icon>

                <!--  -->
                <div class="d-flex align-items-center w-100">
                  <span class="me-3">Choisir un siege</span>
                  <span class="small text-secondary">A partir de 200 FCFA</span>
                </div>

                <!-- icon -->
                <mat-icon>chevron_right</mat-icon>
              </div>
            </button>

            <!-- choosen place -->
            <mat-chip-set class="example-chip mb-2">
              <mat-chip class="example-box"> 44 </mat-chip>
              <mat-chip class="example-box"> 60 </mat-chip>
            </mat-chip-set>
          </app-form-section>
        </div>

        <!-- Option section -->
        <div class="mb-3">
          <app-form-section class="mb-3" number="3" title="Option">
          </app-form-section>
        </div>

        <!-- Contact section -->
        <div class="mb-3">
          <app-form-section
            class="mb-3"
            number="4"
            title="Contact"
          ></app-form-section>
        </div>

        <!-- Paiement section -->
        <div class="mb-3">
          <app-form-section class="mb-3" number="5" title="Paiement">
            <div
              class="d-flex align-items-center justify-content-between w-100 mb-2"
            >
              <span
                id="example-radio-group-label"
                class="mt-0 text-sencondary small mb-2"
                >Choisir un moyen de paiement</span
              >

              <button (click)="clear_moyen_paiement()" class="small btn btn-sm">
                Effacer la sélection
              </button>
            </div>
            <div
              class="border-1 border-dark-subtile border-top border-bottom border-start border-end rounded-2 mb-4"
            >
              <mat-radio-group
                color="primary"
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                [(ngModel)]="ID_moyenpaiement"
              >
                <!-- tesea-pay -->
                <div class="p-2">
                  <mat-radio-button [value]="1" class="">
                    Tesea-Pay</mat-radio-button
                  >
                </div>
              </mat-radio-group>
            </div>
          </app-form-section>
        </div>
      </div>

      <!-- recap -->
      <div class="col-md-4">
        <!-- votre commande text -->
        <div class="fw-semibold text-dark mb-2">Votre commande</div>

        <!-- voyage recap -->
        <div
          class="bg-white rounded-2 border-1 border-secondary-subtle border-top border-bottom border-start border-end p-3"
        >
          <!-- site & arrets -->
          <div class="d-flex justify-content-between mb-2">
            <!-- site -->
            <span>{{ siteName }}</span>

            <!-- arret -->
            <span>{{ _reservationService.selected_voyage.bus.classe }}</span>
          </div>

          <!-- date & villes -->
          <div class="d-flex">
            <!-- divider icon -->
            <div class="d-flex flex-column align-items-center me-2">
              <i class="bi bi-circle text-secondary p-0"></i>
              <div
                class="divider bg-secondary text-secondary p-0 h-100"
                style="margin-top: -5px !important"
              >
                .
              </div>
              <i
                class="bi bi-circle-fill text-secondary p-o"
                style="margin-top: -3px"
              ></i>
            </div>

            <!-- content -->
            <div class="w-100">
              <!-- depart -->
              <div class="mb-2 d-flex flex-column w-100">
                <span class="small text-dark fw-semibold">{{
                  depart_datetime.date
                }}</span>

                <span class="text-secondary small">{{
                  _reservationService.selected_voyage.itineraire.villeDepart
                    .nom +
                    " - " +
                    depart_datetime.time
                }}</span>
              </div>

              <!-- arret -->
              <ul class="mb-2 d-none">
                <li class="xsmall text-secondary">Bafia</li>
                <li class="xsmall text-secondary">Bafia</li>
                <li class="xsmall text-secondary">Bafia</li>
              </ul>

              <!-- Destination -->
              <div class="d-flex flex-column w-100">
                <span class="small text-dark fw-semibold">{{
                  arriver_datetime.date
                }}</span>
                <span class="small text-secondary">{{
                  _reservationService.selected_voyage.itineraire
                    .villeDestination.nom +
                    " - " +
                    arriver_datetime.time
                }}</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Passagers recap -->
        <div class="pt-1 mb-3">
          <mat-list class="pt-0 pb-0">
            <!-- Adultes prix -->
            <mat-list-item>
              <div class="d-flex justify-content-between w-100">
                <!-- passagers number & type -->
                <span
                  >{{ _reservationService.passagers_adultes }} Adulte(s)</span
                >
                <!-- prix -->
                <span>{{ prix_total_passager_adulte }} FCFA</span>
              </div>
            </mat-list-item>

            <!-- divider -->
            <mat-divider></mat-divider>

            <!-- Enfant prix -->
            <mat-list-item>
              <div class="d-flex justify-content-between w-100">
                <!-- passagers number & type -->
                <span
                  >{{ _reservationService.passagers_enfant }} enfant(s)</span
                >
                <!-- prix -->
                <span>{{ prix_total_passager_enfant }} FCFA</span>
              </div>
            </mat-list-item>

            <!-- divider -->
            <mat-divider></mat-divider>

            <!-- Total -->
            <mat-list-item>
              <div class="d-flex justify-content-between w-100 fw-semibold">
                <!-- passagers number & type -->
                <span class="text-dark">TOTAL</span>
                <!-- prix -->
                <span>{{ prix_total_passager }} FCFA</span>
              </div>
            </mat-list-item>
          </mat-list>
        </div>

        <!-- bon reduction -->
        <div class="mb-3">
          <mat-accordion>
            <mat-expansion-panel
              class="mat-elevation-z0 rounded-2 border-1 border-secondary-subtle border-top border-bottom border-start border-end"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> Saisir le bon de réduction</mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-sm-8">
                  <mat-form-field appearance="outline" class="p-0 w-100">
                    <!-- <mat-label>Nom et prénom</mat-label> -->
                    <input matInput placeholder="Code" />
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <button
                    (click)="valider_code_reduction()"
                    style="height: 56px !important"
                    class="col-sm-4 w-100"
                    mat-stroked-button
                    color="primary"
                    [disabled]="_loaderService.isLoading"
                  >
                    <div class="d-flex align-items-center">
                      <span
                        *ngIf="_loaderService.isLoading"
                        class="spinner-border spinner-border-sm text-secondary me-2"
                      ></span>
                      {{ _loaderService.isLoading ? "" : "Valider" }}
                    </div>
                  </button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <!-- politique confidentialite -->
        <mat-checkbox
          [checked]="isTermspolicyChecked"
          [(ngModel)]="isTermspolicyChecked"
          color="primary"
          class="example-margin mb-3"
          >Je déclare avoir lu la
          <a href="" target="_blank" class="text-decoration-none"
            >politique de confidentialié</a
          >
          et j'accepte les
          <a class="text-decoration-none" href="" target="_blank"
            >conditions générales d'utilisations</a
          >
        </mat-checkbox>

        <!-- payer button -->
        <div class="w-100">
          <button
            (click)="payer()"
            mat-raised-button
            color="primary"
            class="w-100"
            [disabled]="_loaderService.isLoading"
          >
            <div class="d-flex align-items-center">
              <span
                *ngIf="_loaderService.isLoading"
                class="spinner-border spinner-border-sm text-secondary me-2"
              ></span>
              {{ _loaderService.isLoading ? "Traitement ..." : "Payer" }}
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
